#container.container
	#head.row
		.span12
			img(src="http://placehold.it/800x200&text=ColourPhone")
	#demo.row
		.span12
			img(src="http://placehold.it/800x200&text=ColourPhone")
	#about.row
		.span12
	#who.row
		.span4
			img(src="http://placehold.it/200x800&text=Andrew")
		.span4
			img(src="http://placehold.it/200x100&text=colour!")
			img(src="http://placehold.it/200x100&text=colour!")
			img(src="http://placehold.it/200x100&text=colour!")
			img(src="http://placehold.it/200x100&text=colour!")
			img(src="http://placehold.it/200x100&text=colour!")
			img(src="http://placehold.it/200x100&text=colour!")
		.span4
			img(src="http://placehold.it/200x800&text=Andrew")